@using RMarket.ClassLib.EntityModels;
@using RMarket.ClassLib.Models;

@model IEnumerable<AliveResult>

@{
    ViewBag.Title = "Index";
}

@Html.ActionLink("Добавить", "BeginTest", null, new { @class = "btn btn-default" })

@foreach (AliveResult aliveResult in @Model)
{
    InstanceModel instance = aliveResult.Instance;

    <div class="well">
        @if (aliveResult.Manager.IsStarted)
        {
            @Html.ActionLink("Прервать", "TerminateTest", new { aliveId = aliveResult.AliveId }, new { @class = "btn btn-danger pull-right" })
        }
        @Html.ActionLink("Результат", "DisplayResult", new { aliveId = aliveResult.AliveId }, new { @class = "btn btn-success pull-right" })
        <strong class="h3">@instance.Name</strong>
        <strong>@instance.Id</strong>
        <span> @aliveResult.StartDate</span>
        <p>@instance.Description</p>
    </div>
}

