@using System.Web.Optimization

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryvalidate")
    @Scripts.Render("~/bundles/jqueryunobtrusiveajax")

    <link href="~/Content/themes/base/all.css" rel="stylesheet" type="text/css" />

    <style>
        .btn .caret, .cstm-text{
        margin-left: 4px;
        }

    </style>

</head>
<body>
    <div class="container navbar-inverse" role="navigation">
        <div class="row">
            <div class="btn-toolbar" role="toolbar">
                @Html.ActionLink("Мои стратегии","Index", "Instance",null, new { @class = "btn btn-default btn-success" })
                @Html.ActionLink("загрузка истории", "Index", "DownloadHistory", null, new { @class = "btn btn-default" })
                @Html.ActionLink("Тестирование", "Index", "Tester", null, new { @class = "btn btn-default" })
                @Html.ActionLink("Эмуляция", "Index", "Emul", null, new { @class = "btn btn-default" })
                @Html.ActionLink("Селекции", "Index", "Selection", null, new { @class = "btn btn-default" })

                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Справочники<span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li class="text-right">@Html.ActionLink("Entity info", "Index", "EntityInfoes")</li>
                        <li class="text-right">@Html.ActionLink("Инструменты", "Index", "Tickers")</li>
                        <li class="text-right">@Html.ActionLink("Интервалы", "Index", "TimeFrames")</li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Настройки<span class="glyphicon glyphicon-cog"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li class="text-right">@Html.ActionLink("Data prividers", "Index", "DataProviderSettings")</li>
                        <li class="text-right">@Html.ActionLink("Histrical providers", "Index", "HistoricalProviderSettings")</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @if (TempData["message"] != null)
        {
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                @TempData["message"]
            </div>
        }
        @if (TempData["error"] != null)
        {
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                @TempData["error"]
            </div>
        }
        @if (TempData["warning"] != null)
        {
            <div class="alert alert-warning alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                @TempData["warning"]
            </div>
        }


        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>

</body>
</html>