@using RMarket.WebUI.Models;
@model List<ParamEntityUI>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Name")
            </th>
            <th>
                @Html.DisplayName("Value")
            </th>
            <th>
                @Html.DisplayName("Description")
            </th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count(); i++)
        {
            <tr>
                <td>
                    <label for="[@i].FieldValue"> @Model[i].DisplayName</label>
                    @Html.HiddenFor(m => m[i].FieldName)
                    @Html.HiddenFor(m => m[i].DisplayName)
                </td>
                <td>
                    @Html.Partial("EditorForObject", new KeyValuePair<string, ParamEntityUI>($"[{i}].FieldValue", Model[i]))
                    @*@Html.EditorFor(m=>m[i].FieldValue)*@
                </td>
                <td>
                    @Html.Label(Model[i].Description)
                    @Html.HiddenFor(m => m[i].Description)
                    @Html.HiddenFor(m => m[i].TypeName)
                </td>
            </tr>
        }
    </tbody>
</table>
