1@using RMarket.WebUI.Models;

@model OptimizationSettingModelUI

<script>
    $(function () {
        $("#EntityInfoId").change(function () {
            $("#ajaxStrategyParams").load("@Url.Action("EditParamsNew","EntityParams")?entityInfoId=" + this.value)
        });

    });
</script>

@{
    ViewBag.Title = "OptimizationSetting";
}

<div class="panel">
    <div class="panel-heading">
        @if (Model.Id == 0)
        {
            <h3>Создание настройки</h3>
        }
        else
        {
            <h3>Редактирование настройки: <span class="text-info">@Model.Name</span></h3>
        }
    </div>

    @using (Html.BeginForm("Edit", "OptimizationSettings"))
    {
        @Html.ValidationSummary();

        <input id="Id" name="Id" type="text" value=@Model.Id style="display:none">

        <div class="form-group">
            <table>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.Name)
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.Name, new {@class="form-control"})
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.EntityInfoId)
                    </td>
                    <td>
                        @Html.DropDownListFor(m => m.EntityInfoId, ViewBag.EntityInfoList as IEnumerable<SelectListItem>, "--SELECT--", new { @class = "form-control" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.Description)
                    </td>
                    <td>
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                    </td>
                </tr>
            </table>
        </div>

        <div id="ajaxStrategyParams">
            @Html.Partial("~/Views/EntityParams/EditParams.cshtml", Model.EntityParams)
        </div>

        <div class="panel-footer">
            <input type="submit" value="Сохранить" class="btn btn-primary" />
            @Html.ActionLink("Отменить", "Index", null, new { @class = "btn btn-default" })
        </div>
    }

</div>





