@using RMarket.ClassLib.EntityModels;

@model DataProviderModel

<script>
    $(function () {
        $("#EntityInfoId").change(function () {
            $("#ajaxStrategyParams").load("@Url.Action("EditParamsNew")?connectorInfoId=" + this.value)
        });

    });
</script>

@{
    ViewBag.Title = "Редактирование настройки";
}

<div class="panel">
    <div class="panel-heading">
        <h3>Редактирование настройки: <span class="text-info">@Model.Name</span></h3>
    </div>

    @using (Html.BeginForm("Edit", "DataProvider"))
    {
        @Html.ValidationSummary()

        @Html.HiddenFor(m => m.Id)

        <div class="form-group">
            <table>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.Name)
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.Name, new {@class="form-control"})
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.ConnectorInfoId)
                    </td>
                    <td>
                        @Html.DropDownListFor(m => m.ConnectorInfoId, ViewBag.ConnectorInfoList as IEnumerable<SelectListItem>, "--SELECT--", new { @class = "form-control" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.Description)
                    </td>
                    <td>
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                    </td>
                </tr>
            </table>
        </div>

        <div id="ajaxStrategyParams">
            @Html.Action("EditParams", new { entityParams = Model.EntityParams, settingId = Model.Id })
        </div>

        <div class="panel-footer">
            <input type="submit" value="Сохранить" class="btn btn-primary" />
            @Html.ActionLink("Отменить", "Index", null, new { @class = "btn btn-default" })
        </div>
    }

</div>





